#b {
    max-width: 600px;
    margin: auto;
}
#app, #result {
    position: relative;
    margin : 0 auto;
    display: grid;
    border: solid 1px #777;
    width: fit-content;
  }
.row_head {
    display: flex;
    writing-mode: tb-rl;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.role_block {
    display: flow;
    grid-row: 1;
    width: 140px;
    &.melee, &.ranged {
        width: 120px;
    }
}
#end {
    min-height: 8em;
}
.members {
    margin : 5px;
    border : #777 1px solid;
    border-radius: 6px;
    background-color: #555;

    &:hover {
        background-color: #987;
        transition: 0.3s;
    }
}
.member_name {
    text-align: center;
}
.jobs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    * {
        margin : auto;
    }
}

#result .row_head {
    min-height: 8em;
}

.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,50%)
}
.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
}
